// Utility Nav
.bsds-nav-utility {
  .bsds-nav {
    display: none;
  }

  .bsds-nav-logo {
    display: flex;
    margin: 0 auto;
    padding: space(sm);

    img {
      max-height: 2rem;
    }
  }
}

@media (min-width: $breakpoint-sm-min) {
  .bsds-nav-utility {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0 solid $border-color-subtle;

    &:has(.bsds-nav-logo) {
      border-bottom-width: $border-width-xxs;
    }

    .bsds-nav-logo {
      margin: 0;
      padding: space(md) space(2x);
    }
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-nav-utility {
    border-bottom-width: $border-width-xxs;

    .bsds-nav {
      display: flex;
      margin-left: auto;

      .bsds-nav-item {
        margin-top: 0;

        .bsds-nav-link {
          @include font-size($fs-body-subtle);
          border: 0;
          padding: space(md) space(lg);
          color: $text-color-subtle;

          &:hover {
            color: $text-color-primary;
          }
        }

        .bsds-dropdown {
          .bsds-dropdown-trigger {
            display: inline-flex;
            padding: space(md) space(lg);
            padding-right: calc(space(md) + $icon-size-sm + space(lg));

            &::after {
              right: space(lg);
              width: $icon-size-sm;
              height: $icon-size-sm;
              background: $text-color-subtle;
            }

            &[aria-expanded='true'],
            &:hover,
            &:active {
              background: transparent;
              color: $text-color-primary;
              text-decoration: underline;

              &::after {
                background: $text-color-primary;
              }
            }
          }
        }
      }
    }
  }
}
