.bsds-icon-right {
  margin-left: space(md);
}

.bsds-icon-left {
  margin-right: space(md);
}

.bsds-mt-xxs {
  margin-top: space(xxs);
}

.bsds-mt-xs {
  margin-top: space(xs);
}

.bsds-mt-sm {
  margin-top: space(sm);
}

.bsds-mt-md {
  margin-top: space(md);
}

.bsds-mt-lg {
  margin-top: space(lg);
}

.bsds-mt-2x {
  margin-top: space(2x);
}

.bsds-mt-3x {
  margin-top: space(3x);
}

.bsds-mt-4x {
  margin-top: space(4x);
}

.bsds-mt-6x {
  margin-top: space(6x);
}

.bsds-mt-8x {
  margin-top: space(8x);
}

.bsds-mt-12x {
  margin-top: space(12x);
}

.bsds-mt-15x {
  margin-top: space(15x);
}

// TODO: ADS-631 Standardize utility names
.bsds-margin-top-remove {
  /* stylelint-disable-next-line declaration-no-important */
  margin-top: 0 !important; // Important is used here to ensure utility class overrides existing styles
}

.bsds-pt-0 {
  padding-top: 0;
}
