.bsds-callout {
  position: relative;
  margin-top: 0;
  padding-bottom: space(3x);
  @include font-family-base-heavy;
  @include font-size($fs-display);
  line-height: 1.5;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: space(15x);
    height: space(md);
    background: $accent-primary-60;
    content: '';
  }

  &.bsds-callout-centered {
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.bsds-callout-ghost {
    color: $text-color-ghost;
  }
}
