.bsds-image {
  display: block;
  margin-top: 0;
  object-fit: cover;
  object-position: top center;

  &-1to1 {
    @extend .bsds-image;
    aspect-ratio: 1/1;
  }

  &-4to3 {
    @extend .bsds-image;
    aspect-ratio: 4/3;
  }

  &-16to9 {
    @extend .bsds-image;
    aspect-ratio: 16/9;
  }

  &-21to9 {
    @extend .bsds-image;
    aspect-ratio: 21/9;
  }

  &-50-split {
    @extend .bsds-image;
    height: 0;
    min-height: 100%;
    object-position: center center;
    overflow: hidden;
  }
}

.bsds-image-caption {
  @include font-size($fs-small);
  margin-top: space(md);
  color: $text-color-primary;

  &-center {
    @extend .bsds-image-caption;
    text-align: center;

    &-ghost {
      @extend .bsds-image-caption-center;
      color: $text-color-ghost;
    }
  }

  &-ghost {
    @extend .bsds-image-caption;
    color: $text-color-ghost;
  }
}

.bsds-decorative-treatment {
  position: relative;

  &::before {
    position: absolute;
    top: space(6x);
    right: space(6x);
    bottom: 0;
    left: 0;
    background: $gradient-accent;
    content: '';
  }

  .bsds-image {
    position: relative;
    padding: 0 0 space(2x) space(2x);
  }

  .bsds-image-caption {
    position: absolute;
    right: 0;
    bottom: space(2x);
    left: space(2x);
    margin: 0;
    padding: space(md) space(lg);
    background: rgba($neutral-00, 0.6);
    color: $text-color-ghost;

    &-center {
      @extend .bsds-image-caption;
      text-align: center;

      &-ghost {
        @extend .bsds-image-caption-center;
        background: rgba($neutral-100, 0.6);
        color: $text-color-primary;
      }
    }

    &-ghost {
      @extend .bsds-image-caption;
      background: rgba($neutral-100, 0.6);
      color: $text-color-primary;
    }
  }
}
