.bsds-product-card-even-split {
  display: grid;
  grid-auto-rows: 1fr;
  padding: 0;

  .bsds-image-50-split {
    cursor: pointer;
  }
}

.bsds-product-card {
  @include bsds-defaults-type;
  position: relative;

  .bsds-product-card-ns-title {
    display: inline-block;
    width: fit-content;
    @include font-size($fs-body);

    &-assertive {
      @extend .bsds-product-card-ns-title;
      @include font-size($fs-body-assertive);
    }

    &-ghost {
      @extend .bsds-product-card-ns-title;
      @extend .bsds-link-ghost;

      &-assertive {
        @extend .bsds-product-card-ns-title-assertive;
        @extend .bsds-product-card-ns-title-ghost;
      }
    }
  }

  [class*='bsds-link'] {
    &:not([class*='ghost']) {
      text-decoration: none;
      @extend .bsds-link-subtle;

      &:hover {
        @extend .bsds-link-subtle;
      }
    }
  }

  [class*='-ghost'] {
    text-decoration: none;
    @extend .bsds-link-ghost;

    &:hover {
      @extend .bsds-link-ghost;
    }
  }

  img {
    cursor: pointer;
  }
}

.bsds-card-border-light {
  &.bsds-product-card {
    padding: 0;

    // TODO: ADS-611 this is repeated in content card, level up
    .bsds-card-content {
      margin-top: 0;
      padding: space(3x);

      &:not(:first-child) {
        border-top: $border-width-xxs solid $border-color-subtle;
      }
    }
  }
}
