.bsds-select-control {
  position: relative;
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  margin-top: space(md);
  background: $neutral-100;

  select {
    @extend %field-control;
    grid-area: select;
    margin: 0;
    border-radius: 0;
    appearance: none;
    text-overflow: ellipsis;

    &.bsds-select {
      background: transparent;

      &:hover,
      &::after {
        cursor: pointer;
      }

      &:focus {
        @include focus-default;
      }

      &:hover,
      &:focus {
        border-color: $border-color-action;
      }

      &:disabled {
        background: $neutral-95;

        &:hover {
          cursor: not-allowed;
        }
      }

      &[aria-invalid='true'] {
        border-color: $border-color-error;
      }
    }
  }

  &::after {
    position: absolute;
    top: calc(50% - ($icon-size-sm / 3));
    right: space(2x);
    width: $icon-size-sm;
    height: $icon-size-sm;
    background-image: url('../../assets/images/icon-chevron-down.svg');
    content: '';
  }
}

.bsds-field-label {
  &.bsds-filter-select {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $breakpoint-md-min) {
  .bsds-field-label {
    &.bsds-filter-select {
      gap: space(2x);
      flex-direction: row;
      align-items: center;

      .bsds-field-label-text {
        max-width: calc(space(12x) + space(8x));
        padding-top: calc(space(md) - space(xxs));
        word-break: break-word;
      }

      .bsds-select-control {
        flex: 1;
      }
    }
  }
}
