@mixin tag-default {
  display: block;
  @include font-family-base-heavy;
  @include font-size($fs-small);
  color: var(--tag-default-text);
  text-transform: uppercase;
  letter-spacing: $letter-spacing-increase;
}

@mixin tag-assertive {
  @include tag-default;
  display: inline;
  padding: var(--space-md) var(--space-lg);
  box-decoration-break: clone;
}

@mixin tag-accent {
  @include tag-default;
  border-width: 0 0 0 var(--border-width-sm);
  border-style: solid;
  padding: var(--space-xs) 0 var(--space-xs) var(--space-md);
}

.bsds-tag {
  @include bsds-defaults-type;
  @include tag-default;

  &-ghost {
    @include tag-default;
    color: var(--text-color-inverse);
  }

  &-accent {
    @include tag-accent;
    border-image-source: $gradient-accent-vertical;
    border-image-slice: 1;
  }

  &-accent-ghost {
    @include tag-accent;
    border-color: var(--accent-secondary-60);
    color: var(--text-color-inverse);
  }

  &-assertive {
    @include tag-assertive;
    background: var(--tag-assertive-background);
    color: var(--tag-assertive-text);
  }

  &-assertive-ghost {
    @include tag-assertive;
    background: var(--neutral-100);
    color: var(--text-color-primary);
  }

  &-featured {
    @include tag-assertive;
    background: var(--tag-featured-background);
    color: var(--tag-featured-text);
  }

  &-featured-ghost {
    @include tag-assertive;
    background: var(--accent-primary-80);
    color: var(--text-color-primary);
  }

  &-subtle {
    @include tag-assertive;
    @include font-family-base-regular;
    padding: var(--space-sm) var(--space-md);
    background: var(--tag-subtle-background);
    text-transform: none;
    letter-spacing: unset;
  }

  &-subtle-ghost {
    @extend .bsds-tag-subtle;
    background: var(--neutral-40);
    color: var(--text-color-inverse);
  }
}
